* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.calc-wrapper {
	background-color: rgb(67, 71, 112);
	padding: 10px;
	height: 100vh;
	display: flex;
	align-items: center;
}